body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-image: url(images/indexback.jpg);
    background-size: cover;
    background-attachment: fixed;
}

p {
font-size: 60%;
}
h1 {
    font-weight: bold;
    font-style: italic;
    font-size: 180%;
}

#title{
    font-family: "ISOCPEUR", sans-serif;
    padding-bottom: 1.5%;
}

.navbar {
    font-family: "ISOCPEUR", sans-serif;
    font-size: 180%;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    border-radius: 25px;

}

.navbar-custom .navbar-text {

}

.vl {
    border-left: 5px gray;
    height: 50px;
}


.nav-item{
    color: black;
    margin-bottom: 5px;
    margin-top: 5px;
}
.nav-item a{
     color: rgba(0, 0, 0, 0.8);
 }
.nav-item a:hover{
    color: rgba(5, 44, 73, 0.8);
}

.nav_button {
    color: white;
    background-color: rgba(255, 102, 0, 0.71);
    border-radius: 25px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.nav_button a{
    color: rgba(255, 255, 255, 0.8);
}
.nav_button a:hover{
    color: rgba(255, 202, 168, 0.8);
}

.custom-toggler.navbar-toggler {
    border-color: rgba(5, 44, 73, 0.8);
}
.custom-toggler .navbar-toggler-icon {
    background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(5, 44, 73, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#main {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    min-height: 100vh;
    height: 100%;

}

.btn-default {
    background-color: rgba(3, 34, 9, 0.8);
    color: white;
}


table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;

    font-size: 110%;
}
table{
    margin: 0 auto;
}

.text-responsive {
    font-size: calc(100% + 1vw + 1vh);
}

.fill {
    min-height: 100%;
    height: 100%;
}

input {
    margin: auto;
    width: 100%;
    padding: 5px;
    border-radius: 20px;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.colap {
    font-size: 18px;

}
.card {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5) ;
}

.bd-placeholder-img{
    border-radius: 20px;
}

.card_thumb{
    border-radius: 20px;
    opacity: 0.9;
}

.article_button {
    border-radius: 12px;
}
/*@media screen and (min-height: 800px) and (max-aspect-ratio: 5/6){*/
/*    h1 {*/
/*        font-size: 64px;*/
/*    }*/
/*    h5 {*/
/*        font-size: 26.56px;*/
/*    }*/
/*    .btn-default {*/
/*        font-size: 32px;*/
/*    }*/
/*    table, th, td{*/
/*        font-size: 24px;*/
/*    }*/
/*    input {*/
/*        padding: 10px;*/
/*    }*/
/*    .colap {*/
/*        font-size: 36px;*/
/*    }*/
/*}*/
.dropdownBtn {
    background-color: rgba(3, 34, 9, 0.6);
    color: white;
    border-radius: 0;
}

.dropdownHead {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}